**.git
**.github
**.gitignore
**.gitattributes
**.vscode
**.history
**.DS_Store
gha-creds-*.json

docker*
!docker/php/configs
!docker/mysql/ssl
!docker/php/docker-entrypoint.sh

**/vendor
!**/public/vendor

**/coverage*
**/*node_modules

**/.env
**/phpunit.xml
**/README.md
**/LICENSE
**/CHANGELOG.md
**/.styleci.yml
**/.editorconfig
**/bootstrap/cache/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/testing/*
**/storage/framework/views/*
**/storage/logs/*
